In [3]:
import pandas as pd
import numpy as np
import matplotlib .pyplot as plt
%matplotlib inline
import quandl

In [58]:
number = 1
vari = (f'{number}_great')
vari

'1_great'

In [79]:
# File to Load (Remember to Change These)
CCI_data_to_load = "startdata/CCI_Raw_data.csv"
BCI_data_to_load = 'startdata/BCI_Raw_data.csv'
CLI_data_to_load = 'startdata/CLI_Raw_data.csv'
# Read School and Student Data File and store into Pandas DataFrames
CCI_data = pd.read_csv(CCI_data_to_load)
BCI_data = pd.read_csv(BCI_data_to_load)
CLI_data = pd.read_csv(CLI_data_to_load)
CLI_data.head()

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,GBR,CLI,AMPLITUD,LTRENDIDX,M,1957-12,97.69984,NaN
1,GBR,CLI,AMPLITUD,LTRENDIDX,M,1958-01,97.73627,NaN
2,GBR,CLI,AMPLITUD,LTRENDIDX,M,1958-02,97.84341,NaN
3,GBR,CLI,AMPLITUD,LTRENDIDX,M,1958-03,97.99134,NaN
4,GBR,CLI,AMPLITUD,LTRENDIDX,M,1958-04,98.15497,NaN

In [80]:
BCI_data.head()

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,ZAF,BCI,AMPLITUD,LTRENDIDX,M,1974-06,102.0001,NaN
1,ZAF,BCI,AMPLITUD,LTRENDIDX,M,1974-07,101.8869,NaN
2,ZAF,BCI,AMPLITUD,LTRENDIDX,M,1974-08,101.7853,NaN
3,ZAF,BCI,AMPLITUD,LTRENDIDX,M,1974-09,101.7134,NaN
4,ZAF,BCI,AMPLITUD,LTRENDIDX,M,1974-10,101.6797,NaN

In [81]:
CCI_data.head()

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,NLD,CCI,AMPLITUD,LTRENDIDX,M,1973-01,101.2458,NaN
1,NLD,CCI,AMPLITUD,LTRENDIDX,M,1973-02,101.2283,NaN
2,NLD,CCI,AMPLITUD,LTRENDIDX,M,1973-03,101.0854,NaN
3,NLD,CCI,AMPLITUD,LTRENDIDX,M,1973-04,100.8459,NaN
4,NLD,CCI,AMPLITUD,LTRENDIDX,M,1973-05,100.7044,NaN

In [82]:
#remove unnecessary columns
filtered_CCI = CCI_data[['TIME','Value']]
filtered_BCI = BCI_data[['TIME','Value']]
filtered_CLI = CLI_data[['TIME','Value']]
filtered_CCI.head()

      TIME     Value
0  1973-01  101.2458
1  1973-02  101.2283
2  1973-03  101.0854
3  1973-04  100.8459
4  1973-05  100.7044

In [83]:
filtered_BCI.head()

      TIME     Value
0  1974-06  102.0001
1  1974-07  101.8869
2  1974-08  101.7853
3  1974-09  101.7134
4  1974-10  101.6797

In [84]:
#convert to datetime
import datetime
filtered_CCI['TIME']= pd.to_datetime(filtered_CCI['TIME'])
filtered_BCI['TIME']= pd.to_datetime(filtered_BCI['TIME'])
filtered_CLI['TIME']= pd.to_datetime(filtered_CLI['TIME'])
filtered_CCI.head()

C:\Users\beep9\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\beep9\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\beep9\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

        TIME     Value
0 1973-01-01  101.2458
1 1973-02-01  101.2283
2 1973-03-01  101.0854
3 1973-04-01  100.8459
4 1973-05-01  100.7044

In [85]:
#rename columns
CCI_df= filtered_CCI.rename(columns={"TIME": "date", "Value": "value"})
CLI_df= filtered_CLI.rename(columns={"TIME": "date", "Value": "value"})
BCI_df= filtered_BCI.rename(columns={"TIME": "date", "Value": "value"})

#further filter data for uniform dates
CCI_df = CCI_df[CCI_df['date'] > '2007-12-31']
BCI_df = BCI_df[BCI_df['date'] > '2007-12-31']
CLI_df = CLI_df[CLI_df['date'] > '2007-12-31']
BCI_df.head()

          date     value
403 2008-01-01  101.5117
404 2008-02-01  101.0985
405 2008-03-01  100.7214
406 2008-04-01  100.4621
407 2008-05-01  100.2753

In [86]:
#for loop function to add filler dates
def date_gen(df):
    
    #create range of days:
    dates = pd.date_range(start ='01/01/2008',end ='11/16/2020')
    
    #create empty dataframe and counter variable
    sample = pd.DataFrame({'date': [], 'value': []})
    counter = 0
    
    #for loop to fill in individual dates
    for date in dates:
        if date.month == df.iloc[counter]['date'].month:
            sample = sample.append({'date': date, 'value': df.iloc[counter]['value']},ignore_index=True)
        else:
            counter +=1
            sample = sample.append({'date': date, 'value': df.iloc[counter]['value']},ignore_index=True)
    return sample

In [87]:
#run each set through the for loop function
BCI_adj = date_gen(BCI_df)
CLI_adj = date_gen(CLI_df)
CCI_adj = date_gen(CCI_df)
BCI_adj.head(35)

         date     value
0  2008-01-01  101.5117
1  2008-01-02  101.5117
2  2008-01-03  101.5117
3  2008-01-04  101.5117
4  2008-01-05  101.5117
5  2008-01-06  101.5117
6  2008-01-07  101.5117
7  2008-01-08  101.5117
8  2008-01-09  101.5117
9  2008-01-10  101.5117
10 2008-01-11  101.5117
11 2008-01-12  101.5117
12 2008-01-13  101.5117
13 2008-01-14  101.5117
14 2008-01-15  101.5117
15 2008-01-16  101.5117
16 2008-01-17  101.5117
17 2008-01-18  101.5117
18 2008-01-19  101.5117
19 2008-01-20  101.5117
20 2008-01-21  101.5117
21 2008-01-22  101.5117
22 2008-01-23  101.5117
23 2008-01-24  101.5117
24 2008-01-25  101.5117
25 2008-01-26  101.5117
26 2008-01-27  101.5117
27 2008-01-28  101.5117
28 2008-01-29  101.5117
29 2008-01-30  101.5117
30 2008-01-31  101.5117
31 2008-02-01  101.0985
32 2008-02-02  101.0985
33 2008-02-03  101.0985
34 2008-02-04  101.0985

In [88]:
#rename value columns to differentatiate values
CCI_adj= CCI_adj.rename(columns={ "value": "CCI"})
CLI_adj= CLI_adj.rename(columns={ "value": "CLI"})
BCI_adj= BCI_adj.rename(columns={"value": "BCI"})

#sanity check
BCI_adj.head(3)

        date       BCI
0 2008-01-01  101.5117
1 2008-01-02  101.5117
2 2008-01-03  101.5117

In [94]:
#merge datasets
BCI_CCI = BCI_adj.merge(CCI_adj,how='inner',on='date')
OECD_data = CLI_adj.merge(BCI_CCI, how='inner',on='date')
OECD_data.head()

        date       CLI       BCI       CCI
0 2008-01-01  100.5212  101.5117  100.1894
1 2008-01-02  100.5212  101.5117  100.1894
2 2008-01-03  100.5212  101.5117  100.1894
3 2008-01-04  100.5212  101.5117  100.1894
4 2008-01-05  100.5212  101.5117  100.1894

In [95]:
#convert to csv
OECD_data.to_csv('startdata/OECD_data_2008_to_2020.csv')
OECD_data

           date        CLI        BCI        CCI
0    2008-01-01  100.52120  101.51170  100.18940
1    2008-01-02  100.52120  101.51170  100.18940
2    2008-01-03  100.52120  101.51170  100.18940
3    2008-01-04  100.52120  101.51170  100.18940
4    2008-01-05  100.52120  101.51170  100.18940
...         ...        ...        ...        ...
4699 2020-11-12   93.43011   96.34032   97.41141
4700 2020-11-13   93.43011   96.34032   97.41141
4701 2020-11-14   93.43011   96.34032   97.41141
4702 2020-11-15   93.43011   96.34032   97.41141
4703 2020-11-16   93.43011   96.34032   97.41141

[4704 rows x 4 columns]

In [15]:
# File to Load (Remember to Change These)
#stock_data_to_load = "startdata/stocks.csv"

# Read School and Student Data File and store into Pandas DataFrames
#stock_data = pd.read_csv(stock_data_to_load)
#stock_data.head(10)

In [102]:
#Code below to combine OECD data with stock data
OECD_data_to_load = 'startdata/OECD_data_2008_to_2020.csv'
# Read School and Student Data File and store into Pandas DataFrames
OECD_data = pd.read_csv(OECD_data_to_load)
OECD_data

      Unnamed: 0        date        CLI        BCI        CCI
0              0  2008-01-01  100.52120  101.51170  100.18940
1              1  2008-01-02  100.52120  101.51170  100.18940
2              2  2008-01-03  100.52120  101.51170  100.18940
3              3  2008-01-04  100.52120  101.51170  100.18940
4              4  2008-01-05  100.52120  101.51170  100.18940
...          ...         ...        ...        ...        ...
4699        4699  2020-11-12   93.43011   96.34032   97.41141
4700        4700  2020-11-13   93.43011   96.34032   97.41141
4701        4701  2020-11-14   93.43011   96.34032   97.41141
4702        4702  2020-11-15   93.43011   96.34032   97.41141
4703        4703  2020-11-16   93.43011   96.34032   97.41141

[4704 rows x 5 columns]

In [103]:
#import API key
from config import api
quandl.ApiConfig.api_key = api
#data = quandl.get_table('WIKI/PRICES', qopts = { 'columns': ['date','ticker','open','high','low','close','volume'] }, ticker = ['AAPL', 'GOOGL','AMZN'], date = { 'gte': '2010-01-01', 'lte': '2020-11-12' })
#df = quandl.get_table('WIKI/PRICES', ticker = ['AAPL', 'GOOGL','AMZN'], date = { 'gte': '2010-01-01', 'lte': '2020-11-12' })
stock_data = quandl.get_table('WIKI/PRICES', ticker = ['GOOGL'], date = { 'gte': '2008-01-01', 'lte': '2018-12-30' })
#convert stock data to datetime
stock_data['date']= pd.to_datetime(stock_data['date'])
OECD_data['date']= pd.to_datetime(stock_data['date'])
#combine stock dataset with OECD information
combine = stock_data.merge(OECD_data,how='inner',on='date')
combine.head(3)

,ticker,date,open,high,low,close,volume,ex-dividend,split_ratio,adj_open,adj_high,adj_low,adj_close,adj_volume,Unnamed: 0,CLI,BCI,CCI
0,GOOGL,2018-03-27,1063.90,1064.54,997.62,1006.94,2940957.0,0.0,1.0,1063.90,1064.54,997.62,1006.94,2940957.0,0,100.5212,101.5117,100.1894
1,GOOGL,2018-03-26,1050.60,1059.27,1010.58,1054.09,3272409.0,0.0,1.0,1050.60,1059.27,1010.58,1054.09,3272409.0,1,100.5212,101.5117,100.1894
2,GOOGL,2018-03-23,1051.37,1066.78,1024.87,1026.55,2413517.0,0.0,1.0,1051.37,1066.78,1024.87,1026.55,2413517.0,2,100.5212,101.5117,100.1894

In [130]:
#import API key
from config import api
quandl.ApiConfig.api_key = api
#data = quandl.get_table('WIKI/PRICES', qopts = { 'columns': ['date','ticker','open','high','low','close','volume'] }, ticker = ['AAPL', 'GOOGL','AMZN'], date = { 'gte': '2010-01-01', 'lte': '2020-11-12' })
#df = quandl.get_table('WIKI/PRICES', ticker = ['AAPL', 'GOOGL','AMZN'], date = { 'gte': '2010-01-01', 'lte': '2020-11-12' })
test_1 = quandl.get_table('WIKI/PRICES', ticker = ["GS"], date = { 'gte': '2008-01-01', 'lte': '2018-12-30' })
test_1

,ticker,date,open,high,low,close,volume,ex-dividend,split_ratio,adj_open,adj_high,adj_low,adj_close,adj_volume
None,,,,,,,,,,,,,,
0,GS,2018-03-27,255.89,257.060,245.61,247.26,2970625.0,0.0,1.0,255.890000,257.060000,245.610000,247.260000,2970625.0
1,GS,2018-03-26,250.65,255.360,248.45,254.88,3733912.0,0.0,1.0,250.650000,255.360000,248.450000,254.880000,3733912.0
2,GS,2018-03-23,253.63,254.954,244.93,245.26,3603803.0,0.0,1.0,253.630000,254.954000,244.930000,245.260000,3603803.0
3,GS,2018-03-22,258.42,260.820,252.18,252.60,4175915.0,0.0,1.0,258.420000,260.820000,252.180000,252.600000,4175915.0
4,GS,2018-03-21,263.01,266.490,260.31,261.85,2811962.0,0.0,1.0,263.010000,266.490000,260.310000,261.850000,2811962.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2571,GS,2008-01-08,195.81,199.500,189.00,189.50,13553700.0,0.0,1.0,173.274418,176.539740,167.248175,167.690630,13553700.0
2572,GS,2008-01-07,200.23,200.250,189.99,194.73,16044400.0,0.0,1.0,177.185725,177.203423,168.124237,172.318715,16044400.0
2573,GS,2008-01-04,202.00,204.000,198.29,199.93,10157900.0,0.0,1.0,178.752017,180.521839,175.468998,176.920252,10157900.0
2574,GS,2008-01-03,208.34,209.040,204.14,204.84,7751700.0,0.0,1.0,184.362353,184.981791,180.645727,181.265165,7751700.0
2575,GS,2008-01-02,215.00,215.050,206.60,207.60,9573500.0,0.0,1.0,190.255860,190.300106,182.822608,183.707519,9573500.0

In [17]:

#import dependencies
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd
import numpy as np
import os

In [32]:
#set target input and output
y = combine["close"].astype(str)
y.head()

0    1006.94
1    1054.09
2    1026.55
3    1053.15
4     1094.0
Name: close, dtype: object

In [47]:
#set X variable
truncate = combine[['close','CCI',"BCI",'CLI']]
X = truncate.drop("close", axis=1)
#drop date as well
#X = X.drop("date",axis=1)
#drop ticker
#X= X.drop("ticker",axis=1)
X.head()

        CCI       BCI       CLI
0  101.3535  99.91577  100.2035
1  101.3535  99.91577  100.2035
2  101.3535  99.91577  100.2035
3  101.3535  99.91577  100.2035
4  101.3535  99.91577  100.2035

In [48]:
#import train test and set up seed
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [49]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [124]:
#code to run tests on all 30 tickers

#Code below to combine OECD data with stock data
OECD_data_to_load = 'startdata/OECD_data_2008_to_2020.csv'
# Read School and Student Data File and store into Pandas DataFrames
OECD_data = pd.read_csv(OECD_data_to_load)
    
#define function for train tests
def tester(ticker_name):

    #import API key
    from config import api
    quandl.ApiConfig.api_key = api
    #data = quandl.get_table('WIKI/PRICES', qopts = { 'columns': ['date','ticker','open','high','low','close','volume'] }, ticker = ['AAPL', 'GOOGL','AMZN'], date = { 'gte': '2010-01-01', 'lte': '2020-11-12' })
    #df = quandl.get_table('WIKI/PRICES', ticker = ['AAPL', 'GOOGL','AMZN'], date = { 'gte': '2010-01-01', 'lte': '2020-11-12' })
    stock_data = quandl.get_table('WIKI/PRICES', ticker = [ticker_name], date = { 'gte': '2008-01-01', 'lte': '2018-12-30' })
    
    #convert to date
    stock_data['date']= pd.to_datetime(stock_data['date'])
    OECD_data['date']= pd.to_datetime(OECD_data['date'])
    
    #combine stock dataset with OECD information
    combine = stock_data.merge(OECD_data,how='inner',on='date')
    
    #set target input and output
    y = combine["close"].astype(str)
    y.head()
    
    #truncate dataset
    truncate = truncate.drop("date", axis=1)
    X = truncate.drop("close", axis=1)
    
    #introduce tester variables
    X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
    
    #classifier
    classifier = LogisticRegression()
    
    #standard fit scalers
    X_scaler = StandardScaler().fit(X_train)
    
    #create scaled variables
    X_train_scaled = X_scaler.transform(X_train)
    X_test_scaled = X_scaler.transform(X_test)
    # Import relevants
    from sklearn.svm import SVC 

    #create SVC model with rbf kernel
    model = SVC(kernel='rbf')
    model.fit(X_train_scaled,y_train)
    
    #save variables
    training_data = model.score(X_train_scaled, y_train)
    testing_data = model.score(X_test_scaled, y_test)
    #return
    return testing_data

In [133]:
#define loop function to run all tickers:  Amex was missing info AXRX
def run_tickers():
    ticker_list = ["AMZN","AAPL","CSCO","CMCSA","INTC","MSFT","VZ","V","WMT","GS","JPM","JNJ","PFE","MRK","GIS",'PG','KO','MMM','MCD','BA','CAT','CVX','XOM','GE',"GM","HON","HD"]
    
    #create blank dictionary
    results = {}
    for ticker in ticker_list:
        results[ticker] = tester(ticker)
        print(f'{ticker} is done running')
    return results

In [ ]:
#test run
def run_tickers_test():
    ticker_list = ["AMZN","AAPL","CSCO","CMCSA","INTC","MSFT","VZ","V","WMT","AXP","GS","JPM","JNJ","PFE","MRK","GIS",'PG','KO','MMM','MCD','BA','CAT','CVX','XOM','GE',"GM","RTX","HD"]
    
    #create blank dictionary
    results_test = {}
    for ticker in ticker_list:
        results_test[ticker] = 
        print(f'{ticker} is done running')
    return results_test

In [123]:
run_tickers_test()

AMZN is done running
AAPL is done running
CSCO is done running
CMCSA is done running
INTC is done running
MSFT is done running
VZ is done running
V is done running
WMT is done running
AXRX is done running
GS is done running
JPM is done running
JNJ is done running
PFE is done running
MRK is done running
GIS is done running
PG is done running
KO is done running
MMM is done running
MCD is done running
BA is done running
CAT is done running
CVX is done running
XOM is done running
GE is done running
GM is done running
RTX is done running
HD is done running

{'AMZN': 35,
 'AAPL': 35,
 'CSCO': 35,
 'CMCSA': 35,
 'INTC': 35,
 'MSFT': 35,
 'VZ': 35,
 'V': 35,
 'WMT': 35,
 'AXRX': 35,
 'GS': 35,
 'JPM': 35,
 'JNJ': 35,
 'PFE': 35,
 'MRK': 35,
 'GIS': 35,
 'PG': 35,
 'KO': 35,
 'MMM': 35,
 'MCD': 35,
 'BA': 35,
 'CAT': 35,
 'CVX': 35,
 'XOM': 35,
 'GE': 35,
 'GM': 35,
 'RTX': 35,
 'HD': 35}

In [112]:
tester('GOOGL')

0.0015527950310559005

In [52]:
run_tickers()
results

C:\Users\beep9\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [53]:
classifier.fit(X_train, y_train)

C:\Users\beep9\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [54]:
classifier.fit(X_train, y_train)

C:\Users\beep9\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [135]:
final = run_tickers()
final

AMZN is done running
AAPL is done running
CSCO is done running
CMCSA is done running
INTC is done running
MSFT is done running
VZ is done running
V is done running
WMT is done running
GS is done running
JPM is done running
JNJ is done running
PFE is done running
MRK is done running
GIS is done running
PG is done running
KO is done running
MMM is done running
MCD is done running
BA is done running
CAT is done running
CVX is done running
XOM is done running
GE is done running
GM is done running
HON is done running
HD is done running

{'AMZN': 0.0,
 'AAPL': 0.0,
 'CSCO': 0.013975155279503106,
 'CMCSA': 0.0,
 'INTC': 0.0,
 'MSFT': 0.0015527950310559005,
 'VZ': 0.0,
 'V': 0.001584786053882726,
 'WMT': 0.0015527950310559005,
 'GS': 0.0,
 'JPM': 0.0015527950310559005,
 'JNJ': 0.003105590062111801,
 'PFE': 0.0,
 'MRK': 0.0015527950310559005,
 'GIS': 0.0015527950310559005,
 'PG': 0.0,
 'KO': 0.0015527950310559005,
 'MMM': 0.0016025641025641025,
 'MCD': 0.0,
 'BA': 0.0015527950310559005,
 'CAT': 0.0,
 'CVX': 0.0,
 'XOM': 0.0,
 'GE': 0.0015527950310559005,
 'GM': 0.0,
 'HON': 0.0,
 'HD': 0.0}